.main {
    padding-bottom: 33vh;
}
/*
.main ul {
    padding-left: 1em;
}

.main ul li {
    list-style: none;
}
.main ul li:before {
    content: '•';
    margin-right: .5em;
    color: #afaf86;
}

.main ol li {
    list-style: decimal;
}

.main ol li:before {
    margin-right: .5em;
    color: #afaf86;
}
*/

