.nav-main {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1.1em;
    height: 100vh;
}

.nav-main:hover {
    opacity: 1;
}

.nav-main ul {
    margin: 0;
    padding: 10px;
    background: rgba(255, 255, 255, 0.99);
}

.nav-main li {
    list-style: none;
}

.nav-main a {
    display: block;
    width: 100%;
    white-space: nowrap;
    color: #afaf86;
	padding: 2px;
}

.nav-main a:before {
    content: '/';
}

/* Menu */
#nav-toggle {
    display: inline-block;
    padding: 10px;
    line-height: 1;
    font-size: 2rem;
    color: #afaf86;
    opacity: .5;
    cursor: pointer;
}

#nav-checkbox{
    display: none;
}

.nav-main ul {
    display: none;
}

#nav-checkbox:checked ~ ul {
    display: block
}

@media all and (max-width: 960px){
    .nav-main ul {
        z-index: 1;
        padding: 10px;
    }
}

