*, *:before, *:after {
  box-sizing: border-box;
}

body {
    font-family: sans-serif;
    max-width: 40em;
    padding: 0 30px;
    margin: 0 auto;
    text-rendering: optimizeLegibility;
    font-weight: 200;
}

h1,h2,h3,h4,h5,h6 {
    color: #afaf86;
    font-weight: 200;
}

h1 {
    margin-top: 1em;
    font-size: 3em;
}

p,li,td {
    line-height: 1.66;
}

table, th, td {
  border: 1px solid;
}

code {
    color: #af0b0b;
	font-size: 1.1em;
	background: #fbfbfb;
	padding: .1em .2em;
	border-radius: 2px;
}

a {
    color: #0085d5;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

strong, b {
    font-weight: 400;
}

blockquote {
    margin: 0;
    font-family: serif;
	font-style: italic;
    font-size: 1.5em;
    opacity: .66;
}

blockquote p {
    padding: 5px;
    margin: 0;
    text-align: center;
}


.topbar {
   position: sticky;
   top: 0;
   z-index: 100;
}
