<!--
  Standard HTML head fragment
  -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title> <?= htmlspecialchars($PicoWiki->meta['title']).' : '.$PicoWiki->config['title'] ?></title>

  <link rel="stylesheet" href="<?=$PicoWiki->mkUrl('static/style.css')?>">
  <link rel="stylesheet" href="<?=$PicoWiki->mkUrl('static/nav.css')?>">
  <link rel="stylesheet" href="<?=$PicoWiki->mkUrl('static/main.css')?>">
  <link rel="shortcut icon" href="<?=$PicoWiki->mkUrl('static/picowiki-favicon.png')?>" type="image/png">

  <?php $PicoWiki->event('template_header') ?>
